<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery.js"></script>
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="/assets/js/burgers.js"></script>
		
	</head>


<h1>Eat Da Burger!</h1>

<img src="../assets/img/burger.jpg" alt="burger" class="center">

<!-- Setting screen so uneaten burgers on left and devoured burgers on right -->
<div class="row">
	<div class="col-md-4">
		<h3>Devour the burger of your choice!</h3>

		<ul>
			<!-- Cycles through each burger like a for loop -->
			{{#each burger}}
			{{#unless devour}}
			<h4>{{this.burger_name}}
				<button type="submit" class="change-devour" data-id={{id}}>
				DEVOUR!
				</button>
				</h4>
				{{/unless}}
			{{/each}}
		</ul>
		</div>
		<div class="col-md-2"></div>

		<div class="col-md-6">
			<h3>Burgers Devoured!</h3>
			<ul>
				{{#each burger}}
				{{#if devour}}
				<h4>{{this.burger_name}}</h4>
				{{/if}}
				{{/each}}
			</ul>

		</div>
</div>
<!-- Section for submission of new burgers -->
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center enter_section">
            <form action="api/burgers" method="POST">
                <input type="text" class="form-control" name="burger_name" value="" id="enter_text">
                <button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
            </form>
            <p>Enter a burger you want to eat Click the "Submit" button.</p>
        </div>
    </div>
</div>
